@model SportsStore.Model.Entities.Cart
<div class="user-name">
    <b>В корзине:</b>
    @Model.Lines.Sum(x => x.Quantity) @Model.Declination
    (@Model.ComputeTotalValue().ToString("c"))
</div>
<div class="notify">
    @Html.ActionLink("Заказать", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "like red" })
</div>

    


