@model SportsStore.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<div class="us">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("ProductSummary", p);
    }
</div>

    <div class="pager anim" style="--delay: .6s" >
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
         new { page = x, category = Model.CurrentCategory }))
    </div>
