<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="sidebar">
            <span class="logo">S</span>
            <a class="logo-expand" href="#">SPORTS STORE</a>
            @{ Html.RenderAction("Menu", "Nav"); }
        </div>


        <div class="wrapper">
            <div class="header">
                <div class="user-settings">
                    @{Html.RenderAction("Summary", "Cart");}
                </div>
            </div>

            <div class="main-container">

                @RenderBody()

            </div>




        </div>


    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Scripts/scripts.js"></script>
</body>

</html>
